<div class="main">
  <h1>Chocolate Protein Muffins</h1>
  <h2>Ingredients</h2>

  <ul>
    <li *ngFor="let item of items" (click)="addTodo(item)">{{item}}</li>
  </ul>
  <h3>Step 1</h3>
  <p>Preheat the oven to 400 degrees F (200 degrees C). Line 9 muffin wells with cupcake liners or spray with nonstick spray.</p>
  <h3>Step 2</h3>
  <p>Whisk powder drink mix, flour, baking soda, baking powder, and salt together in a medium bowl.</p>
  <h3>Step 3</h3>
  <p>Whisk applesauce, yogurt, sugar, egg, and vanilla extract in a separate large bowl. Add the flour mixture; mix until just combined. Fold in chocolate chips.</p>
  <h3>Step 4</h3>
  <p>Bake in the preheated oven for 7 minutes. Reduce heat to 350 degrees F (175 degrees C) and bake until muffins spring back when touched, an additional 10 to 12 minutes.</p>
</div>
