<h1>Recipes</h1>

<!--<input type="text" [formControl]="todoInput" (keydown.enter)="addTodo()">-->



<!--<ul>-->
<!--  <li *ngFor="let todo of todos">-->
<!--    <app-todo class="item-text" [todo]="todo" (delete)="deleteTodo(todo)"></app-todo>-->
<!--  </li>-->
<!--</ul>-->

<div class="links">
  <a routerLink="/tab1">Chocolate Protein Muffins</a>
  <a routerLink="/tab2">Banana Oat Muffins with Sour Cream</a>
  <a routerLink="/shopping-cart"><button class="btn">Cart</button></a>
</div>

<router-outlet></router-outlet>
